:root{
    --main-colur: green;
    --main-transition: 0.3s;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Work Sans', sans-serif;
}


.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    direction: rtl;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

.header{
    padding: 10px;
    z-index: 1800;
   
}

.header .container{
    display: flex;
    justify-content: space-between;
    direction: ltr;
}

.header .logo{
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header .header-links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-links .icon{
    cursor: pointer;
    width: 60px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header .header-links .icon span {
    background-color: var(--main-colur);
    margin-bottom: 5px;
}



.header .header-links .icon span:first-child{
height: 6px;
width: 100%;
}

.header .header-links .icon span:nth-child(2){
height: 6px;
width: 80%;
}

.header .header-links .icon span:last-child{
height: 6px;
width: 60%;
}

.header .header-links ul{
    cursor: pointer;
    z-index: 2000;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(129, 125, 117);
    position: absolute;
    right: 0;
    top: 90%;
    min-width: 200px;
    display: none;
}

.header .header-links:hover ul{
    display: block;
}

.header .header-links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 250, 250);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.header .header-links ul li a:hover{
    padding-left: 35px;
}

.header .header-links ul li:not(:last-child) a{
border-bottom: 1px solid #ddd;
}


/* .main{
    background-image: url(../image/planet6.jpg);
    background-size: cover;
    height: calc(95vh - 100px);
    position: relative;
}


.main .intro-text{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.main .intro-text h1{
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    color: rgb(7, 102, 4);
    background-color: #ddd;
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
} */

.main .slider ul li img{
width: 1150px;
height: 400px;
}



.main .slider{
    direction: ltr;
    width: 1150px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 60PX;
}

.main .slider ul{
    margin-top: 60px;
    padding: 0;
    width: 4600px;
    list-style: none;
    position: relative;
    animation: sliding 10S ease infinite;
    -webkit-animation: sliding 10S ease infinite;
}

.main .slider ul li{
    float: left;
    position: relative;
}


@keyframes sliding
    {
 0%  , 10%{left: 0;}
 15% , 30%{left: -1150px ;}
 35% , 50%{left: -2300px ;}
 55% , 70%{left: -3450px ;}
 75% , 120%{left: -4600px ;}

}


@media (max-width:1024px) {
    .main .slider ul li img{
        width: 900px;
        height: 300px;
    }

    .main .slider{
        width: 900px;
    }

    .main .slider ul{
        width: 3600px;
    }

    @keyframes sliding
    {
 0%,10%{left: 0;}
 15%,30%{left: -900px ;}
 35%,50%{left: -1800px ;}
 55%,70%{left: -2700px ;}
 75%,120%{left: -3600px ;}

}
}


 @media (max-width: 820px) {

    .main .slider ul li img{
        width: 690px;
        height: 300px;
    }

    .main .slider{
        width: 690px;
    }

    .main .slider ul{
        width: 2760px;
    }

    @keyframes sliding
    {
 0%,10%{left: 0;}
 15%,30%{left: -690px ;}
 35%,50%{left: -1380px ;}
 55%,70%{left: -2070px ;}
 75%,120%{left: -2760px ;}

}
}
 @media (max-width: 540px) {

    .main .slider ul li img{
        width: 400px;
        height: 300px;
    }

    .main .slider{
        width: 400px;
    }

    .main .slider ul{
        width: 1600px;
    }

    @keyframes sliding
    {
 0%,10%{left: 0;}
 15%,30%{left: -400px ;}
 35%,50%{left: -800px ;}
 55%,70%{left: -1200px ;}
 75%,120%{left: -1600px ;}

}
}

@media (max-width: 385px) {

    .main .slider ul li img{
        width: 330px;
        height: 300px;
    }

    .main .slider{
        width: 330px;
    }

    .main .slider ul{
        width: 1320px;
    }

    @keyframes sliding
    {
 0%,10%{left: 0;}
 15%,30%{left: -330px ;}
 35%,50%{left: -660px ;}
 55%,70%{left: -990px ;}
 75%,120%{left: -1320px ;}

}
 }

.slider ul:hover{
    animation-play-state: paused;
}

.title{
    direction: rtl;
}

 .title p{
    font-size: 30px;
    margin-left: 60px;
    padding: 10px;
    position: relative;
    width: 350px;
    height: 50px;
    text-align: center;
    padding: 10px 30px;
    border-left:6px solid var(--main-colur);
    background-color: rgb(209, 207, 207);
  }

  .title p::before{
    content: "MAC";
    position: absolute;
    background-color: var(--main-colur);
    height: 100%;
    line-height:1.6;
    color: rgb(253, 251, 251);
    width: 80px;
    text-align: center;
    top: 0;
    right: 0;
  }

  .services{
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: ; */
  }

  .services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 25px;
  }

  .services .feet i{
    color: var(--main-colur);
    display: flex;
    justify-content: center;
  }



  .services .feet h3{
    font-weight: 800;
    margin: 30px 0;
    text-align: center;
  }



  .services .feet p{
    line-height: 1.5;
    color: #777;
    font-size: 18px;
    text-align: center;
  }


  .products .container .title{
    padding-top: 60px;
  }

  .products{
    background-color: green;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .product-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    
}

.product-card:hover .product-img {
    opacity: 0.9;
 }

.product-img img{
    width: 100%
}





.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
} 

.card {
    background-color: #fff;
    width: 18.75em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

.card .pro1{
    width: 100%;
}
.card .pro2{
    width: 100%;
}
.card .pro3{
    width: 100%;
}
.card .pro4{
    width: 100%;
}

.card img{
    width: 250px;
    height: 300px;
}


.map{
    padding-top: 60px;
    padding-bottom: 60px;
}

.map .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 25px;
  }


  .map .feet i{
    color: var(--main-colur);
    display: flex;
    justify-content: center;
  }

  .map .feet h3{
    font-weight: 800;
    margin: 30px 0;
    text-align: center;
  }


  .map .feet p{
    line-height: 1.5;
    color: #777;
    font-size: 18px;
    text-align: center;
  }
  .map .feet a{
    text-decoration: none;
    color: var(--main-colur);
    font-weight: bold;
    font-size: 18px;
    display:flex;
    justify-content: center;
  }


  .about-us{
    background-color: green;
   
  }

  .about-us .container img{
    width: 300px;
    height: 300px;
   margin: auto;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

  .about-us p{
    direction: rtl;
    color: #ddd;
    font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
  }

  h4{
    display: block;
  }

  .countact-us{
    padding-top: 60px;
    padding-bottom: 60px;
  }


  .countact-us .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 25px;
  }

  .countact-us .feet i{
    color: var(--main-colur);
    display: flex;
    justify-content: center;
  }


  .countact-us .feet p{
    line-height: 1.5;
    color: #777;
    font-size: 18px;
    text-align: center;
  }

.footer {
    background-color: #191919;
    padding: 70px 0 0;
    margin: 60px 0 0;
    position: relative;
    bottom: -120px;
  }

  @media (max-width: 767px) {
    .footer {
      text-align: center;
    }
  }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    direction: ltr;
  }

  .footer .box h3 {
    color: white;
    font-size: 30px;
    margin: 0 0 20px;
  }
  
  .footer .box .line i {
    font-size: 25px;
    color: var(--main-colur);
    margin-right: 10px;
  }


  @media (max-width: 767px) {
    .footer .box .line i {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 767px) {
    .footer .box  .social-icons {
      justify-content: center;
    }
  }

   .footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
  }
   .footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
  } 
  .footer .box .links li:hover {
    padding-left: 10px;
  }
  .footer .box .links li:hover a {
    color: white;
  }
   .footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
  }
  

  .footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    .footer .box .line {
      flex-direction: column;
    }
  }
  
  .footer .box .line .info {
    line-height: 1.7;
    flex: 1;
  }

  .footer .box .line .info span {
    display: block;
    color: white;
  }
  
  .footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
    font-size: 1.2em;
  }

  .social-icons a{
    padding-right: 30px;
  }
  
  .faceboock{
    color: #083ac5;
  }
  
  .whatsapp{
    color: green;
  }





















@media (max-width:1023px){

    section{
        padding: 80px 20px;
    }

    
    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){

    body{
        font-size: 12px;
    }

    .card {
        width: 21.25em;
      }
  }





@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
  }

